// ---------------------------------------
// React-WeUI 实时编辑试验区
//
// 核心组件 : <Page/>
// 可用组件 : <Article/>
// ---------------------------------------
<Page title="Article" className="article">
    <Article>
      <h1>大标题</h1>
        <section>
            <h2>章标题</h2>
            <section>
                <h3>1.1 节标题</h3>
                <p>1. 夜泊秦淮近酒家，商女不知亡国恨。出自泊秦淮杜牧。翻译：正临近酒家所在的地方。正在唱歌的歌女不知道什么是亡国之恨， 身为一名爱国诗人，杜牧看到内忧外患，民不聊生，对晚唐统治者十分不满，感到唐王朝的政权岌岌可危。</p>
            </section>
            <section>
                <h3>1.2 节标题</h3>
                <p>1. 夜泊秦淮近酒家，商女不知亡国恨。出自泊秦淮杜牧。翻译：正临近酒家所在的地方。正在唱歌的歌女不知道什么是亡国之恨， 身为一名爱国诗人，杜牧看到内忧外患，民不聊生，对晚唐统治者十分不满，感到唐王朝的政权岌岌可危。</p>
            </section>
        </section>
    </Article>
</Page>